# Binaries and executables
dist/
/csw
/csw.exe
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go
vendor/
go.work
go.work.sum
*.test
*.out

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# IDEs
.idea/
.vscode/
*.swp
*.swo

